<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="tw.tcnra05.tcnrcloud11005">
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher_quiz"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_quiz_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name="tw.tcnra05.tcnrcloud11005.Q0300"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="tw.tcnra05.tcnrcloud11005.Q0200" android:screenOrientation="portrait"></activity>
        <activity android:name="tw.tcnra05.tcnrcloud11005.Q0301" android:screenOrientation="portrait"></activity>
        <activity android:name="tw.tcnra05.tcnrcloud11005.Q0302" android:screenOrientation="portrait"></activity>
        <activity android:name="tw.tcnra05.tcnrcloud11005.Q0303" android:screenOrientation="portrait"></activity>
        <activity android:name="tw.tcnra05.tcnrcloud11005.Q0311" android:screenOrientation="portrait"></activity>
        <activity android:name="tw.tcnra05.tcnrcloud11005.Q0312" android:screenOrientation="portrait"></activity>
    </application>

</manifest>